/* Dashboard.css */
.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background: #273a59;
    color: white;
    padding: 20px;
    height: 100%;
  }
  .sidebar-link{
    color: #8fb1bc;
  }
  .profile-section {
    text-align: center;
  }

  .profile-section h3 {
    color: white;
  }

  .profile-pic {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
 
  
  .dashboard-main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .alert-box {
    background: #ffcccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .stats-container {
    display: flex;
    gap: 15px;
    margin-top: 5rem;
  }
  
  .stat-box {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    text-align: center;
  }
  
  .notice-board {
    background: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .info-boxes {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  
  .info-box {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .user-switch-btn {
    background: #9a53c4;
    color: #140e0e;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .switch-user {
    width: 150px;
    right: 1rem;
    position: absolute;
  }
  
  .edit-icon:hover{
    cursor: pointer;
    
  }

  