/* Footer */
.footer {
    background: linear-gradient(135deg, #9e7dc2, #a731c5);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 0;
  }
  
  .footer-links a {
    margin: 0 12px;
    color: #ddd;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }